@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #1d6346;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #172b4d;
  background: #fff;
  font-family: Inter, sans-serif;
  position: relative;
}

body.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

a {
  text-decoration: none;
  transition: all 0.2s ease-in;
  color: #172b4d;
}

a:hover {
  color: var(--primary);
  cursor: pointer;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: baseline;
}

button {
  border: 0;
  cursor: pointer;
}

/* header navigation */
.header {
  max-height: 48px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  width: 100%;
  top: 0;
  backdrop-filter: blur(15px);
  z-index: 10;
}

.navbar {
  display: none;
  width: 100%;
  justify-content: center;
}

.nav-link {
  padding: 10px 12px;
  margin: 0 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #344563;
}

.mb-menu {
  display: block;
  flex-direction: column;
  width: 30px;
  height: 45px;
  border-radius: 8px;
  border: none;
  background: transparent;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.brand {
  display: block;
  color: #28352f;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.hero-title span {
  color: var(--primary);
}

.mb-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #28352f;
  border-radius: 8px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
}

.modalcross span {
  height: 2px;
  width: 12px;
  border-radius: 8px;
  background: #67798e;
  position: absolute;
}

.mb-menu span:nth-child(1) {
  top: 10px;
  transform-origin: left center;
}

.mb-menu span:nth-child(2) {
  top: 20px;
  transform-origin: left center;
}

.mb-menu span:nth-child(3) {
  top: 30px;
  transform-origin: left center;
}

/* hero */
.main {
  min-height: 100vh;
  width: 100%;
}

.hero {
  background-image: url("../Images/header-llustration-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  height: auto;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 756px;
  margin: 0 auto 80px;
}

.hero-title {
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  color: #172b4d;
  max-width: 585px;
  padding-top: 76px;
}

.hero-description {
  margin-top: 26px;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #172b4d;
  padding: 0 60px;
  max-width: 820px;
}

.mb-menu-list {
  display: none;
  width: 100%;
  background: #fff;
  padding: 12px;
  flex-direction: column;
  position: absolute;
  top: 48px;
  left: 0;
  min-height: 755px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 22px;
}

.mb-menu-list a {
  padding: 16px;
  width: 100%;
  color: #3a4a42;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: block;
}

.socials {
  list-style: none;
  margin-top: 33px;
  display: flex;
  transition: all 0.1s cubic-bezier(0.1, 0.7, 1, 0.1);
}

.socials li {
  padding: 0 5px;
}

.socials a {
  display: block;
}

.mb-menu-list a:hover {
  color: #27c080;
}

.more-info {
  margin-top: 24px;
  padding: 49px 0 24px;
}

.more-info img {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.socials a:hover,
.more-info img:hover {
  transform: rotate(360deg) scale(1.3);
}

/* works */
.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, 369px);
  width: 100%;
  column-gap: 22px;
  row-gap: 22px;
  place-content: center;
}

.works-item {
  border-radius: 8px;
  border: 1px solid #d0d9d4;
  background: #ebf0ee;
}

.lower {
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower h3 {
  color: #172b4d;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding: 0 45px;
  text-align: center;
}

.lower .tags,
.modal .tags {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin: 16px 0 30px;
  row-gap: 20px;
}

.lower .tags a,
.modal .tags a {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  color: #172b4d;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin: 0 4px;
}

/* about section */
.about {
  background:
    url("../Images/about-bg-icon.svg") 100% 0% no-repeat,
    url("../Images/about_m_l.svg") -16% 26% no-repeat;
  width: 100%;
}

.sec-wrapper {
  max-width: 1171px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 80px 0;
}

.sec-text {
  margin: 0 124px 43px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec-title {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 36px;
  text-align: center;
}

.sec-description {
  padding: 0 52px 30px;
  text-align: center;
  color: #42526e;
  font-size: 20px;
  line-height: 32px;
}

.btn {
  padding: 12px;
  background: var(--primary);
  border-radius: 4px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.btn::after {
  content: "";
  padding: 12px;
  z-index: -1;
  position: absolute;
  width: 100%;
  background: var(--primary);
  left: 0;
  height: 100%;
  top: 0;
}

.btn:hover {
  color: #fff;
}

.btn:hover::after {
  animation: 0.5s linear 0.1s zoomOut;
}

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, 369px);
  width: 100%;
  column-gap: 19px;
  row-gap: 19px;
  place-content: center;
}

.skill-item {
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  background-color: #ebf0ee;
  width: 100%;
  height: 100%;
}

.skill-logo {
  margin: 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-logo-img {
  max-width: 160px;
}

.skill-details {
  margin: 24px 16px;
}

.skill-title {
  color: #344563;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
}

.skill-name {
  margin: 24px 10px 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pill {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  color: var(--primary);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 5px;
}

/* contact */
.contact {
  background-image: url("../Images/illustration-2-contact-form-desktop.png");
  background-position: 100% 80%;
  background-repeat: no-repeat;
}

.form {
  width: 100%;
  max-width: 768px;
}

.form ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.form ul li {
  width: 100%;
}

input,
textarea {
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
  width: 100%;
  padding: 15px 16px;
  font-size: 15px;
  line-height: 24px;
  color: #6b778c;
  font-family: Inter, sans-serif;
}

textarea {
  border-color: #60c095;
}

input:focus-visible,
textarea:focus-visible {
  outline-color: #27c080;
}

input::placeholder,
textarea::placeholder {
  font-family: Inter, sans-serif;
}

textarea::placeholder {
  color: #091e42;
}

.mt-17 {
  margin-top: 17px;
}

.d-lg-show {
  display: none;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* footer */
.footer {
  display: none;
}

/* mobile menu */

.hamburger.active .mb-menu-list {
  display: flex;
}

.modalcross {
  float: right;
  margin-bottom: 16px;
  background: #ebecf0;
  display: flex;
  position: relative;
  padding: 14px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.modalcross span:first-child {
  transform: rotate(45deg);
}

.modalcross span:last-child {
  transform: rotate(-45deg);
}

.hamburger.active .mb-menu span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
  left: 8px;
}

.hamburger.active .mb-menu span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.hamburger.active .mb-menu span:nth-child(3) {
  transform: rotate(-45deg);
  top: 32px;
  left: 8px;
}

/* modal */
.modal-container {
  position: fixed;
  display: none;
  border-radius: 8px;
  z-index: 6;
  background: #c1c7d0c7;
  padding: 50px 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-container.active {
  display: flex;
}

.modal {
  margin: auto;
  padding: 16px;
  background: #fff;
  max-width: 768px;
  position: relative;
  border-radius: 8px;
}

.modal-img {
  margin-bottom: 16px;
  position: relative;
  clear: both;
}

.modal-title {
  color: #172b4d;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 16px;
}

.modal .tags {
  display: flex;
  justify-content: flex-start;
}

.modal-desc {
  color: #344563;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 16px;
  font-family: Inter, sans-serif;
}

.modal-d {
  display: flex;
  flex-direction: row;
}

.modal .modal-btn {
  display: flex;
  justify-content: space-between;
  max-width: 318px;
  max-height: 50px;
  gap: 10px;
}

.modal .modal-btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
}

.modal .modal-btn img {
  width: 24px;
  height: 24px;
  margin-right: 17px;
}

/* media querie 992 */

/* 1100 */
@media (max-width: 1100px) {
  .hero-description {
    padding: 0 29px;
  }

  .sec-wrapper {
    margin: 0 20px;
  }
}

/* 768 */
@media (max-width: 768px) {
  .sec-wrapper {
    margin: 0 25px;
  }

  .modal-btn.desktop {
    display: none;
  }

  .modal-btn {
    margin: 0 auto;
  }

  .modalcross {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: rgb(0 0 0 / 26.7%);
  }

  .modalcross span {
    background: white;
  }

  .sec-text {
    margin-left: 12px;
    margin-right: 12px;
  }

  .sec-description {
    padding-left: 8px;
    padding-right: 8px;
  }

  .hero-inner {
    margin-bottom: 0;
  }

  .hero-title {
    padding-top: 127px;
  }
}

@media (max-width: 420px) {
  .skill-item,
  .works-item {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .skill-item,
  .works-item {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 324px) {
  .skill-item,
  .works-item {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .modal-btn.mobile {
    display: none;
  }

  .brand {
    display: none;
  }

  .navbar {
    display: flex;
  }

  .mobile-nav {
    display: none;
  }

  .header {
    max-height: 72px;
    min-height: 72px;
  }

  .hero-title {
    font-size: 48px;
    padding-top: 172px;
  }

  .hero {
    background-image: url("../Images/header-llustration-desktop.svg");
  }

  .about {
    background:
      url("../Images/about-bg-icon.svg") 100% 0% no-repeat,
      url("../Images/about-mobile-icon.svg") 0% 26% no-repeat;
    width: 100%;
  }

  .contact {
    background:
      url("../Images/illustration-contact-form.jpg") 100% 97% no-repeat,
      url("../Images/illustration-1-contact-form-desktop\ \(1\).svg") 0% 109% no-repeat,
      url("../Images/illustration-2-contact-form-desktop.svg") 27% 87% no-repeat;
  }

  .contact .socials,
  .contact .mt-17 {
    display: none;
  }

  .d-lg-flex {
    flex-direction: row;
    column-gap: 2%;
  }

  .d-lg-flex .sec-text {
    margin: 0;
    max-width: 40%;
  }

  .d-lg-flex .sec-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    text-align: left;
  }

  .form-wrapper {
    width: calc(100% - 42%);
    max-width: calc(100% - 42%);
  }

  .text-lg-left {
    text-align: left;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-show {
    display: flex;
    column-gap: 3%;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dfe1e6;
  }

  .footer .socials {
    padding: 16px 0;
    margin: 0;
  }
}

/* additional animation */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
